<html>

<head>
    <title>add</title>
</head>

<body>
    <form action="/add" method="POST">
        Name<input type="text" name="name" required> email
        <input type="email" name="email" required> age
        <input type="text" name="age" required>
        <input type="submit">
    </form>
</body>

</html>